node_modules/
vendor/
var/


# Fichiers Symfony qu'on ne veut pas copier dans l'image
/public/assets/
/public/bundles/
/assets/vendor/

/public/uploads/*
!/public/uploads/images/
!/public/uploads/images/default.jpg
