##############
# IDE / OS
##############
.idea/
.vscode/
.DS_Store
Thumbs.db

##############
# Symfony / Env
##############
/.env
/.env.prod
_docker/.env
/config/secrets/prod/prod.decrypt.private.php

##############
# Docker / Env
##############
/_docker_prod/.env

##############
# Symfony / Dossiers générés
##############
/var/
/vendor/

##############
# PHPUnit
##############
/phpunit.xml
.phpunit.result.cache

##############
# Asset Mapper / Webpack / Vite
##############
/public/assets/
/public/bundles/
/assets/vendor/

##############
# JWT (LexikJWTAuthenticationBundle)
##############
/config/jwt/*.pem

##############
# Fichiers d'upload
##############
/public/uploads/images/*
!/public/uploads/images/default.jpg
!/public/uploads/images/

##############
# NodeJS / JS
##############
/node_modules/

##############
# Tests / Couverture / Outils
##############
/coverage/
*.log
*.cache

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
