##############
# IDE / OS
##############
.idea/
.vscode/
.DS_Store
Thumbs.db

##############
# Symfony / Env
##############
/.env
/.env.local
/.env.local.php
/.env.*.local
_docker/.env
/config/secrets/prod/prod.decrypt.private.php

##############
# Symfony / Dossiers générés
##############
/var/
/vendor/

##############
# PHPUnit
##############
/phpunit.xml
.phpunit.result.cache

##############
# Asset Mapper / Webpack / Vite
##############
/public/assets/
/assets/vendor/

##############
# JWT (LexikJWTAuthenticationBundle)
##############
/config/jwt/*.pem

##############
# Fichiers d'upload
##############
/public/uploads/*
!/public/uploads/.gitignore
!/public/uploads/images/default.jpg

##############
# NodeJS / JS
##############
/node_modules/

##############
# Tests / Couverture / Outils
##############
/coverage/
*.log
*.cache
