##############
# IDE / OS
##############
.idea/                # Config PhpStorm
.vscode/              # Config VS Code
.DS_Store             # Fichier système macOS
Thumbs.db             # Fichier système Windows

##############
# Symfony / Env
##############
/.env                 # Fichier d'env principal
/.env.local           # Env local
/.env.local.php       # Cache de l'env Symfony
/.env.*.local         # Tous les .env liés à des envs perso
_docker/.env          # Variables spécifiques à Docker

/config/secrets/prod/prod.decrypt.private.php  # Clé privée Symfony prod

##############
# Symfony / Dossiers générés
##############
/var/                 # Logs, cache, sessions
/vendor/              # Dépendances PHP installées avec Composer

##############
# PHPUnit
##############
/phpunit.xml          # Config locale de tests
.phpunit.result.cache # Cache PHPUnit

##############
# Asset Mapper / Webpack / Vite
##############
/public/assets/       # Assets générés
/assets/vendor/       # Vendor front

##############
# JWT (LexikJWTAuthenticationBundle)
##############
/config/jwt/*.pem     # Clés privées/publiques JWT

##############
# Fichiers d'upload
##############
/public/uploads/*             # Tous les fichiers uploadés dynamiquement
!/public/uploads/.gitignore   # On garde un fichier vide pour que le dossier existe
!/public/uploads/images/default.jpg  # Image utilisée par un seeder ou par défaut

##############
# NodeJS / JS
##############
/node_modules/        # Dépendances JS

##############
# Tests / Couverture / Outils
##############
/coverage/            # Résultats de coverage (ex: PHPUnit, JS)
*.log                 # Fichiers de log divers
*.cache               # Caches divers
