{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <h1 class="text-2xl mb-4">Bienvenue dans le back-office</h1>

    <div class="min-h-screen bg-red-100 flex items-center justify-center">
        <!-- ton contenu ici -->
    </div>
{% endblock %}
